[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-mysqldb = "*"
flask = "*"
flask-cors = "*"
pyrebase = "*"
update = "*"

[dev-packages]
bandit = "*"
pylint = "<2.0.0"

[requires]
python_version = "3.8"
